<div class="card border-primary">
    <div class="card-header">
        {{titulo}}
    </div>
    <div class="card-body">
        <form action="post">
            <div class="input-group mb-3">
                <input [(ngModel)]="usuario.username" type="text" class="form-control" name="username" id="username" placeholder="Nombre de usuario" autofocus required>
            </div>
            <div class="input-group mb-3">
                <input [(ngModel)]="usuario.password" type="password" class="form-control" name="password" id="password" placeholder="Contraseña" required>
            </div>
            <div class="input-group mb-3">
                <input (click)="login()" type="submit" class="btn btn-large btn-primary btn-block" value="Login">
            </div>
        </form>
    </div>
</div>
